@import "../styles/colors.scss";

.blog-post-button {
  margin: 5px 0;
  padding: 10px;
  border: none;
  color: $secondary-color;
  background-color: $tertiary-bgc;
  cursor: pointer;
}

.blog-post-separator {
  height: 3px;
  margin-top: 20px;
  background-color: $primary-color;
}
